body {
  background-color: #000;
}

#image {
  display: none;
}

#nextShapeCanvas {
  position: absolute;
  top: 10px;
}

#scoreCanvas {
  position: absolute;
  top: 220px;
}

#reset {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: gray;
  border: 0;
}